article {
 display: table-cell;
 width:-10%;
 padding: 6px 1px;
 background-color: #1c1b1b;
 /* background-color: #e7d6d6; */
 margin-right: 10px; 
 margin-top: 100px; 
}


footer {
    background-color: rgb(22, 23, 23);
    color: white;
    padding: 14px;
    bottom: -10px;
    width: 100%;
    position: fixed;
    font-size: 13px;
    display: none; 
    /* Скрива футъра по подразбиране */
  }
  

/* ul li  {
    list-style:none;
   }
    
/* style={{ display: "flex", justifyContent: "left", gap: "25px", padding: "30px" }}  */